body {
  background-color: #f1f3f4;
}

.wrapper {
  width: 1000px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid a {
  border: 1px solid #ccc;
  text-align: center;
  padding: 20px;
}

.grid a img {
  max-width: 100%;
}

.photo img {
  max-width: 700px;
}

.aname {
  font-size: x-large;
  padding: 30px;
  background: grey;
  width: 1000px;
  text-justify: center;
  text-align: center;
  /* margin: 500px; */
}

.sidebar {
  padding: 10px;
  margin: auto;
}

.grid {
}

.albums {
  display: grid;
  text-align: center;
  text-justify: center;
}

.albums a {
  text-decoration: none;
  color: #512b58;
}

.extracontain {
  display: flex;
}

.photo {
  justify-items: center;
  align-items: center;
}

.lastpic {
  display: flex;
}

.photo h1 {
  text-align: center;
}
